{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{% include "partials/_carousel1.html.twig" %}

	<h1 class="text-center mb-4" style="color: goldenrod; font-size: 100px;">Luxury Cars</h1>

	{# <h2 class="text-center mt-3 mb-3">Voici notre collection de
		{{voitures|length}}
		modèles de voitures à votre disponibilité
	</h2> #}

	<div
		class="container d-flex flex-wrap d-flex justify-content-between">

		{# <pre>
		    {{ dump(voitures) }}
		</pre> #}

		{% for voiture in voitures %}
			{% include "partials/_cardVoiture.html.twig" %}
		{% endfor %}


	</div>
	<div class="navigation d-flex justify-content-center my-4">
		{{ knp_pagination_render(voitures) }}
	</div>


{% endblock %}
